<div id="app" class="bg-gray-300">
  <div class="container mx-auto">
    <div class="py-20">
      <div class="flex items-center px-5 py-2">
        <span class="w-1/6 text-center">
        </span>
        <span class="w-1/2">
          <span class="text-xs uppercase text-gray-600 font-bold">Contact Info</span>
        </span>
        <span class="w-1/4">
          <span class="text-xs uppercase text-gray-600 font-bold">Gender</span>
        </span>
      </div>

      <div *ngFor="let contact of userContacts"
        class="hover:bg-gray-200 cursor-pointer bg-white shadow flex p-5 items-center mb-5 rounded-lg">
        <div class="w-1/6 text-center">
          <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src={{contact.getAvatar}}
            alt={{contact.getName}}>
        </div>
        <div class="w-1/2">
          <div class="flex items-center">
            <img class="rounded-full">
            <div class="ml-4">
              <span class="capitalize block text-gray-800">{{ contact.getName }}</span>
              <span class="text-sm block text-gray-600">{{ contact.getEmail }}</span>
            </div>

          </div>
        </div>
        <div class="w-1/4">
          <span class="capitalize text-gray-600 text-sm">{{ contact.getGender }}</span>
        </div>
      </div>

    </div>
  </div>